@page
@model MilkMilk.Pages.PageBlog.IndexModel

@{
    ViewData["Title"] = "Index";
}

<p>
    <a asp-page="Create">Create New</a>
</p>

<form>
    <div class="row float-right">
        <input type="text" asp-for="SearchStringTitle" placeholder="Title...?" class="form-control col-3" />
        <input type="text" asp-for="SearchStringCategory" placeholder="Category...?" class="form-control col-3" />
        <input type="text" asp-for="SearchStringTag" placeholder="Tag...?" class="form-control col-3" />
        <input type="submit" value="Search" class="btn btn-outline-secondary" />
    </div>
</form>

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Blog[0].title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Blog[0].category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Blog[0].tag)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Blog[0].release_date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Blog[0].update_date)
            </th>
            <th>
                Operation
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Blog)
        {
            <tr>
                <td>
                    <a asp-page="./Details" asp-route-id="@item.id" class="btn btn-outline-info w-100">
                        @Html.DisplayFor(modelItem => item.title)
                    </a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.category)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.tag)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.release_date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.update_date)
                </td>
                <td class="row">
                    <a asp-page="./Edit" asp-route-id="@item.id" class="btn btn-outline-primary w-50">Edit</a>
                    <a asp-page="./Delete" asp-route-id="@item.id" class="btn btn-outline-danger w-50">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<paging page-no="Model.P"
        page-size="Model.S"
        total-records="Model.TotalRecords">
</paging>